<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chitter</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<h1 class="welcome">Welcome to your home page</h1>
<a href="/post"><button class="post-page-button">Make a new post!</button></a>
<h3 class="prompt">Here's what people have been saying</h3>

  <div class="home">
    <% @posts.reverse.each do |post| %>
      <div class="whole-post">
        <h3 class="title"><%= post.title %></h3>
        <p class="content"><%= post.content %></p>
        <p class="user">Posted by: <%= @users[(post.user_id) - 1].username %></p>
        <p class="time">Posted at: <%= post.time %></p>
      </div>
    <% end %>  
  </div>

</body>
</html>