<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chitter</title>
</head>
<body>
<h1>Welcome to your home page</h1>
<h3>Here's what people have been saying</h3>

  <div class="home">
    <% @posts.each do |post| %>
      <div>
        <h3 class="title"><%= post.title %></h3>
        <p class="content"><%= post.content %></p>
        <p class="user"><%= @users[(post.user_id) - 1].username %></p>
        <p class="time">Posted at: <%= post.time %></p>
      </div>
    <% end %>  
  </div>

</body>
</html>