<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chitter</title>
</head>
<body>
<h1>Create a new post!</h1>  
<div>
  <form method="post" action="posts">
    <label for="title">Title of your post</label>
    <input type="text" name="title" id="title">

    <label for="content">What's on your mind</label>
    <input type="text" name="content" id="content">

    <label for="time">At what time are you posting this</label>
    <input type="text" name="time" id="time">

    <label for="user_id">Which user are you posting as</label>
    <input type="text" name="user_id" id="user_id">
    
    <input type="submit" value="Post!">
  </form>
</div>
</body>
</html>