<link rel="stylesheet" type="text/css" href="/styles.css">
<h1 class="welcome">Create an account with Chitter!</h1>
<form method="post" action="/users">
  <label for="username">Username:</label>
  <input type="text" name="username" id="username">

  <label for="password">Password:</label>
  <input type="password" name="password" id="password">

  <input type="submit" value="Sign Up" class="form-submit">
</form>
