<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Chitter</title>
</head>
<body>
<h1 class="welcome">Congratualtions on signing up! Your account had been successfully created. Get sharing below</h1>
<div>
<a href="/home"><button class="user-page-button">Take me to the home page</button></a>
<a href="/"><button class="user-page-button">Log me out of my account</button></a>
</div>
<div>
</div>
</body>
</html>